.bgBox {
  padding: 32px;
  background: #ffffff;
  box-shadow: 0 1px 5px rgb(150 150 150 / 50%);
  margin-top: 32px;
  margin-bottom: 32px;
}

.images {
  display: flex;
  align-items: flex-start;
}

.imageBox {
  padding: 8px;
}

.imageBoxInner {
  padding: 4px;
  box-shadow: rgb(0 0 0 / 15%) 0 1px 2px;
  border: 1px solid #f1f1f1;
}

.assortiment {
  margin-top: 0px;
  list-style: disc;
  margin-left: 32px;
  line-height: 1.3;
}